/*
CSS for Movie Rev'u
*/

/********
UNIVERSAL
********/

body{
	background-color: #f0f0f0;
	margin: 0;
	max-width: 100%;
}

ul{
	list-style-type: none;
}

h5{
	color: #3f2860;
}

li{
	font-family: raleway;
}

img{
	width: 100%:;
}

/********
NAV-BAR
********/

.nav-bar{
	background: #ef6c00;
}

.top-bar{
	background: #ef6c00;
}


.top-bar-section .has-form{
	background: #de8642;
}

.name h1{
	font-family: "Poiret One";
	font-size: 1.5em;
}

.top-bar .name h1{
	font-size: 1.5em;
}

.has-form{
	padding-right: 30px;
}

input[type="text"]{
	margin: 0 10em 1rem 0;
}

/********
HEADER
********/

.orbit-row{
	max-height: 300px;
}

.orbit-container{
	max-height: 300px;
}

.orbit-img img{
	height: 300px;
	width: 100%;
}

.orbit-img{
	max-height: 300px;
}

.buttons{
	position: absolute;
	margin-top: 20%;
}

.orbit-slide-number{
	display: none;
}

.caption{
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	height: 30px;
	padding-right: 15px;
	position: absolute;
}

#not-released{
	height: 60px;
}

.caption p{
	padding-left: 15px;
}

/********
FIRST TOP-5
********/

.first-content{
	padding-top: 10px;
	margin-top: 25px;
}

.first-content h5{
	font-family: bitter;
}

.first-content ol li{
	margin-top: 10px;
}

.first-content a{
	color: #333;
}

.first-content a:hover{
	border-bottom: 1px solid black;
}


.top-5{
	background-color: white;
}

.moviedesc{
	color: #333;
	font-size: 14px;
	width: 60%;
	float: right;
	margin: 0;
}


.no-image{
	height: 70px;
	width: 70px;
	font-size: 12px;
}

.no-image p{
	font-size: 12px;
}

#wtf{
	width: 100%;
}

/********
ARTICLES & TRAILERS
********/

.articles{
	margin-top: 25px;
}

.articles h5{
	font-family: bitter;
}

.articles h5 a{
	color: #3f2860;
}

.articles p{
	font-family: raleway;
}

.articles-trailers{
	text-align: center;
}

.articles-trailers h5{
	color: #3f2860;
}

.article-list li a{
	color: black;
	font-family: raleway;
	text-decoration: none;
}

.trailer-list li a{
	color: black;
	font-family: raleway;
}

.summary{
	font-size: 14.5px;
}

#bottomArt-summary{
	padding-left: 100px;
}

#topArt img{
	float: right;
}

#bottomArt img{
	float: left;
}

.articles a:hover{
	border-bottom: 1px solid black;
}

/********
SECOND TOP-5
********/

.orderList{
	height: 110px;
}

.last-content{
	background: white;
	padding-top: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.last-content h5{
	font-family: bitter;
}

.food-img{
	padding: 25px 0;
}

.last-content a{
	color: #333;
}

.last-content a:hover{
	border-bottom: 1px solid black;
}

/********
FOOTER
********/

footer{
	background-color: #333;
	text-align: center;
}

footer h5{
	color: #fff;
}

footer p{
	color: #fff;
	font-size: 14px;
}

.social-media{
	border-right: 2px solid white;
	border-left: 2px solid white;
	margin-top: 45px;
	padding-top: 4%;
	padding-bottom: 6%;
	width: 40%;
}

.social-media ul li{
	color: white;
	display: inline-block;
}

.social-media ul{
	margin: 0;
}

.social-media a{
	color: white;
}

.social-media a:hover{
	padding: 10px 10px;
}

#facebook a:hover{
	background-color: #3b5998;
}

#instagram a:hover{
	background-color: #3f729b;
}

#tumblr a:hover{
	background-color: #35465c;
}

#twitter a:hover{
	background-color: #55acee;
}

.about-us{
	padding: 2% 0;
	
}

.power-up{
	padding: 5% 0;
	margin-left: 10%;
}

/********
MEDIA-QUERIES
********/

@media(max-width: 1024px){
	.social-media{
		border: none;
		margin-left: 22%;
	}
	.power-up{
		margin: 0;
	}
}

@media(max-width: 974px){
	.moviedesc{
		float: none;
	}
}

@media(max-width: 640px){
	.social-media{
		margin-left: 30%;
	}
	.moviedesc{
		float: right;
		margin-right: 25%;
	}
}

@media(max-width: 576px){
	.moviedesc{
		margin-right: 90px;
	}
}

@media(max-width: 477px){
	.moviedesc{
		margin-right: 20px;
	}
}







